body,html{
    height: 100%;
    margin: 0;
    background-color: white;
}
.badan{
    height: 100vh;
    width: 100%;
    background: url(/assets/img/bg.png) no-repeat center center scroll;
    background-size: cover;
    background-position: left;
}

.nav-item a{
    color:white !important;
    font-size: 3vh;
}
.bg-light{
    height: 15vh;
    background-color: transparent !important;
    background: linear-gradient(to bottom, black 30%, rgba(0,0,0,0) 100%);
}
.contentData{
    height:20vh;
    width: 100%;
    margin-top: 100vh;
    background-color: white;

}
.title{
    font-size: 5vh;
    padding-top: 35px;
}
.data{
    background-color: white;
}
li{
    text-align: center;
    margin-top: 20px;
    display: inline-block;
    padding: 25px 25px 15px 20px;
    background-color: #33ff77;
    border-radius: 15px 0px 15px 0px;
    font-size: 2.5vh;
    margin-left: 60px;
    
}
.data{
    padding-bottom: 10px;
    margin-left: -12.5px;
    width: 1349px;
    background-color: #007399;
}
/* #Data{
    display: flex;
    flex-direction: row;
} */